h1 #{bookDetail.title}
form
    p
        label(for='title') Title
        input#title(type='text', value= bookDetail.title)
    p
        label(for='author') Author
        input#author(type='text', value= bookDetail.author)
    p
        label(for='genre') Genre
        input#genre(type='text', value= bookDetail.genre )
    p
        label(for='first_published') First Published
        input#first_published(type='text', value= bookDetail.first_published )
    p
        input(type='submit', value='Update')
h2 Loan History
table
    thead
        tr
            th Book
            th Patron
            th Loaned on
            th Return by
            th Returned on
            th Action
    tbody
        for loan in loanDetails
            tr
                td
                    p #{bookDetail.title}
                td
                    a(href='/patrons/' + loan.dataValues.Patron.dataValues.id) #{patronDetails.dataValues.first_name} #{patronDetails.dataValues.last_name}
                td #{loan.dataValues.loaned_on}
                td #{loan.dataValues.returned_on}
                td
                td
                    a.button(href='return_book.html') Return Book